body{
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #121212;
  color: #f0f0f0;
}

.warning{
  color:yellow;
}

#nav{
  background-color:#2f2f2f;
  
  max-width: 700px;
  width:90vw;
  
  display:block;
  margin:auto;
  margin-bottom:2vh;
  padding:2vmin;
  border-radius:2vmin;

  font-size:3vmin;
}
#nav>*{
  line-height:100%;
}
.navButton{
  all:unset;
  background-color:#4f4f4f;
  padding:1vmin;
  border-radius:2vmin;
  max-width:30vw;
  user-select:none;
  transition:all 0.2s ease-in-out;
}
.navButton:hover{
  cursor:pointer;
  background-color:#6f6f6f;
  padding:1.2vmin;
}
.navButton:active{
  background-color:#5e5e5e;
  padding:1.5vmin;
}

.container {
  max-width: 700px;
  width:80vw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #2f2f2f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #58a6ff;
}

h2 {
  color: #ffa858;
}

h3 {
  color: #a8ff58;
}

pre {
  background-color: #212121;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  color: #f0f0f0;
}

code {
  color: #58a6ff;
}

a {
  all:unset;
  text-decoration:underline;
  color: #58a6ff;
}
a:hover{
  color: #58a6ff;
  cursor:pointer;
}


.section {
  margin-bottom: 20px;
}

.subsection {
  margin-left: 20px;
}
